.container {
    
    padding: 30px;
    height: 100vh;
  }
  
  .card-header {
    background-color: #CD202D; /* Rojo de la bandera mexicana */
  }
  
  .btn-success {
    background-color: #006847; /* Verde de la bandera mexicana */
    border-color: #006847; /* Verde de la bandera mexicana */
  }
  
  .btn-success:hover {
    background-color: #005035; /* Verde oscuro */
    border-color: #005035; /* Verde oscuro */
  }
  