/* Estilos para el Navbar */
.navbar {
    background-color: white; /* Cambiar el color del Navbar a blanco */
    border-bottom: 1px solid #ddd; /* Añadir un borde inferior opcional */
  margin-bottom: 5%;
  }
  
  /* Estilos para la lista desplegable */
  .dropdown-menu {
    display: none; /* Ocultar la lista desplegable inicialmente */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra */
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block; /* Mostrar la lista desplegable cuando está activa */
  }
  .nav-link {
    margin-right: 10px; /* Reducir el espacio entre los elementos */
    color: #333; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 500; /* Grosor de la fuente */
    transition: color 0.3s ease; /* Transición suave del color */
  }
  
  .nav-link:hover {
    color: #007bff; /* Color del texto al pasar el ratón */
  }
  
  .nav-link.active {
    color: #007bff; /* Color del texto para el enlace activo */
  }
  
   